@import"root";
@import"variables";
@import"navbar";
@import"footer";

.body{
      background-color: $colorbg;
        display: grid;
        grid-template-rows: auto 1fr auto;
    
}

@for $i from 1 through 6{
    h#{$i} {
        
        color: rgb(19, 18, 18);
        font-size:$fuente ;

    } 

}

.main{
    color: white;
    display: flex;
    flex-direction: column;
        section{
           display: flex;
           flex-direction: column;
           align-items: center;

           .foto1{
            width: 80%;
           }

            article{
                font-size: $fuente - .5em;
                text-align: justify;
                margin: .5em;
            }

         } 


          .imagenes{
             
                display: flex;
                flex-direction: column;
                align-items: center;
                 
                .imagen{
                    margin-top: .5em;
                }
          }
}
